@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.timer {
  width: 99vw;
  margin-left: 1vw;
  transition: all 1s;
  font-size: 9vw;
  font-family: "Lobster", cursive;
  text-align: center;
  background: transparent;
  &__title {
    text-align: center;
  }
  &__digit-block {
    display: inline-block;
    position: relative;
    color: pink;
    margin-right: 0.2em;
    &:before {
      content: ":";
      margin-right: 0.2em;
      float: left;
    }
    &:first-child:before {
      content: "";
    }
    &:after {
      margin-left: 0.2em;
      font-size: 0.3em;
    }
    &.dni:after {
      content: "dni";
    }
    &.godzin:after {
      content: "godzin";
    }
    &.minut:after {
      content: "minut";
    }
    &.sekund {
      width: 2.5em;
      text-align: left;
      &:after {
        content: "sekund";
        float: right;
        line-height: 6em;
      }
    }
  }
  span.showdown {
    &:after {
      content: "";
    }
  }
}
